*{
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgba(255, 196, 0, 0.664);
}

.galeria {
	font-family: 'arial';
}

.galeria h1{
	text-align: center;
	margin: 20px 0 15px 0;
	font-weight: 100;
}

.linea {
	border-top: 3px solid rgb(124, 45, 0);
	margin-bottom: 40px;
	
}

.contenedor-imagenes{
	display: flex;
	width: 85%;
	margin: auto;
	justify-content: space-around;
	flex-wrap: wrap;
	border-radius: 3px;
}

.contenedor-imagenes .imagen{
	width: 24%;
	position: relative;
	height: 15%;
	margin-bottom: 15px;
	box-shadow: 2px 2px 25px rgba(255, 0, 0, 0.75);
	
}

.imagen img{	
	width: 100%; height: 100%;
	object-fit: cover;	
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(197,122,252,0.78);
	width: 100%;
	height: 0;
	transition: 2s ease;
	overflow: hidden;
}

.overlay h3{
	color: rgb(255,255,255);
	font-weight: 300;
	font-size: 30px;
	position: absolute;
	/*centrado*/
	top:50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.imagen:hover .overlay {
	height: 100%;
	cursor: pointer;
}


/*----------------------AGRANDA ICONO -*/
@media screen and (max-width:1000px){
	.contenedor de imagenes{
		width: 95%;
	}
	
}

@media screen and (max-width:1000px){
	.contenedor de imagenes {
		width: 90%;
	}
	.contenedor-imagenes .imagen{
		width: 48%;
	}
	
}
